<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="http://www.thedresscounter.com/" target="_blank">
      <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->


    <div class="lampwrap">
      <div class="lamp">
        <div class="cable"></div>
        <div class="cover"></div>
        <div class="in-cover">
          <div class="bulb"></div>
        </div>
        <div class="light"></div>
      </div>
    </div>
    <!-- END Lamp -->
    <section class="error">
      <!-- Content -->
      <div class="errorcontent">
        <div class="errormessage message">
          <h1 class="messagetitle">Page Not Found</h1>
          <p class="messagetext">Lo siento mi distingido User, favor regresa al home para que puedas continuar.</p>
        </div>
        <div class="errornav e-nav">
          <a href="/login" target="_blanck" class="e-nav__link"></a>
        </div>
      </div>
      <!-- END Content -->

    </section>

      </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">not-found</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
